*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: whitesmoke;
}

.car {
  --x: 50;
  --y: 50;
  --direction: 0deg;

  height: 75px;
  width: 50px;
  background-color: black;
  position: absolute;
  top: calc(var(--y) * 1px);
  left: calc(var(--x) * 1px);
  transform: rotate(var(--direction)) translate(0%, 50%);
}
